body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EE3338;
}
.duascores {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EE3338;
}
.opacidade {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
}
.forms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #F2C6C9;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}
.formulario label img {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.formulario input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: #fff;
}
.formulario input::placeholder {
    color: #999;
}
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-top: 10px;
}
button:first-of-type {
    background-color: #EE3338;
}
button:last-of-type {
    background-color: #716061;
}

