@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    font-family: Inter;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container-conta {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.logo-container {
    margin-top: 20%;
}

.logo-container img{
    width: 100px;
}

.user-info {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.user-avatar {
    width: 30%;
    height: 30%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.user-info h2 {
    font-size: 28px;
    color: #333;
    margin: 10px 0;
}

.user-info p {
    font-size: 16px;
    color: #666;
}

.btn-alterar-senha,
.btn-editar-dados,
.btn-sair,
.btn-voltar {
    background-color: #D51217;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-voltar {
    background-color: #696462;
}

