@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F6F6F6;
}

.home {
    display: flex;
    justify-content: left;
    padding-left: 5%;
    padding-top: 5%;
}


a {
    text-decoration: none;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    margin-top: 10%;
    background-color: white;
    border-radius: 20px;
    width: 85%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    margin-right: auto;
    margin-left: auto;
}

main p{
    font-size: xx-large;
    margin: 2%;
}

main .subInfo {
    font-size: larger;
    margin: 2%;
}

.senha { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin-top: 10%;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    margin-right: auto;
    margin-left: auto;
}

.edit { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    margin-right: auto;
    margin-left: auto;
}

.exit { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    margin-right: auto;
    margin-left: auto;
}