
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    background-image: url(../../assets/img/background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #333;
}

header { 
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
    margin-bottom: 50px ;

}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: #EE3338;
    padding: 10px 0;
}

.nav-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.report-button {
    background-color: #6b5f5c; 
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%; 
    max-width: 300px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
}

.report-button:hover {
    background-color: #EE3338; 
}


.nav-link.selected {
    background-color: white;
    color: #EE3338;
    padding: 5px 10px;
    border-radius: 15px;
}

main {
    width: 90vw;
    max-width: 500px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #EE3338;
    font-size: 24px;
    text-align: center;
}

.transaction-container {
    margin-top: 15px;
}

.transaction {
    border-bottom: 1px solid #ddd;
    padding: 15px 10px;
}

.transaction-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-summary p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.toggle-details {
    background-color: #EE3338;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.transaction-details {
    padding: 10px;
    color: #666;
    font-size: 14px;
}

.hidden {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #f0f0f0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
