* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    background-image: url(../../assets/img/background.svg);
    background-size: cover;
}


header { 
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
}

header p {
    font-family: Inter;
}

.profile{
    display: flex;
    align-items: center;
}

.profile p {
    color: white;
    padding-right: 3vw;
}

nav{
    padding-top: 2vh;
    padding-left: 3vh;
    padding-bottom: 2vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

nav .selected{
    background-color: white;
    border-radius: 20px;
    margin-left: 8vw;
}


nav p {
    color: white;
    margin: 2vw;
    font-size: x-large;
    font-family: Inter;
}

nav .selected p{
    color: #EE3338;
}

.mainText {
    display: flex;
    flex-direction: column;
}

.mainText p{
    color: white;
    font-family: Inter;
    padding-left: 3vh;
    padding-top: 1vh;
}

section{
    height: 20vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-right: 5vw;
}

section principal img{
    height: 17vh;
}



section saldo{
    
    background-color: #696462;
    display: flex;
    align-items: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: Inter;
    color: white;
    height: 17vh;
    width: 24vw;
    border-radius: 20px;
}


main{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main img{
    height: 70%;
}

main principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main principal div { 
    background-color: white;
    width: 40vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

main secundario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3vh;
}

main secundario div { 
    background-color: white;
    width: 25vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}