* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    background-image: url(../../assets/img/background.png);
    background-size: cover;
}


header { 
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
}

header p {
    font-family: Inter;
}

.profile{
    display: flex;
    align-items: center;
}

.profile p {
    color: white;
    padding-right: 3vw;
}

nav{
    padding-top: 2vh;
    padding-left: 3vh;
    padding-bottom: 2vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

nav .selected{
    background-color: white;
    border-radius: 20px;
}


nav p {
    color: white;
    margin: 2vw;
    font-size: x-large;
    font-family: Inter;
}

nav .selected p{
    color: #EE3338;
}

.mainText {
    display: flex;
    flex-direction: column;
}

.mainText p{
    color: white;
    font-family: Inter;
    padding-left: 3vh;
    padding-top: 1vh;
}

section{
    height: 20vh;
    margin: 5vw;
    background-color: #968D89;
    border-radius: 20px;
}

section principal{
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
}

section principal saldo{
    display: flex;
    align-items: end;
    display: flex;
    flex-direction: column;
    font-family: Inter;
    color: white;
}

section rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #696462;
    width: 90vw;
    height: 4vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

section rodape p {
    font-family: Inter;
    padding-left: 2vw;
}