@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F6F6F6;
}


a {
    text-decoration: none;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px; 
    height: 5%; 
}


.overlay {
    position: relative;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 70%; 
    height: 15%; 
    background-color: #424242; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; 
    border-radius: 20px; 
    margin-top: -15%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.overlay .pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}


main principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main principal div { 
    background-color: #3395EE;
    width: 40vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

main img {
    height: 70%;
}

main secundario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3vh;
}

main secundario div { 
    background-color: #a468e9;
    width: 25vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}


