*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F2F0F5;
}

.duascores{
    width: 100%;
    height: 100%;
    position: relative;
}

.vermelha{
    background-color:#EE3338;
    display: flex;
    width: 100%;
    height: 60vb;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    justify-content: center;
}

.opacidade{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    background-color: #F2F0F5;
    opacity: 0.8;
    z-index: 2;
    border-radius: 20px;
}

.branca{
    width: 100%;
    height: 40vb;
    background-color: #F2F0F5;
    border-radius: 0px;
    position: relative;
    bottom: 0px;
    z-index: 0;
    display: flex;

}

img{
    width: 30%;
    margin-bottom: 320px;
}


.tremcptm{
    width: 80%;
    height: 24vb;
    margin-top: 80px;
    transform: scale(1.5);
}

    .forms {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 40%;
    }
    
    .form-group {
        display: flex;
        align-items: center;
        margin-top: 15%;


    }
    
    .icone {
        width: 100%;
        height: 100%;
        margin-right: 30px;
        margin-bottom: 0%;
    }

