* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}
  
html, body {
    width: 100%;
    height: 100%;
    font-family: Inter;
    background-color: #f5f5f5;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30%;
    height: 8vh; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
  
.app-container {
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}
  

  
.input-section {
    padding: 15px;
    background-color: #f5f5f5;
}
  
  .input-group {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  }
  
  .input-group input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 20px;
    color: #000000c0;
  }
  
  .input-group .icon {
    color: #D51217;
    margin-right: 10px;

  }
  
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 40%;
    background-color: #f5f5f5;
  }

  .map-container {
    width: 100%;
    height: 100%; 
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  

div .voltar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.voltar .btn-voltar {
    background-color: #696462;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 15px;
    width: 95%;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}