@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    font-family: Inter;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

img{
    width: 30%;
}

.container-saldo {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.logo-container {
    margin-top: 20%;
}

.saldo-section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.saldo-section p {
    font-size: 30px;
    color: #333;
}

.saldo-section h1 {
    font-size: 50px;
    color: #000;
}

.pix-section {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pix-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.pix-container img {
    padding-bottom: 3%;
}


.pix-container span {
    padding-left: 4%;
    font-size: 20px;
    color: #000000ab;
}

.btn-cadastrar-cartao {
    background-color: #D51217;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    font-family: Inter;
    font-size: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

.btn-voltar {
    background-color: #696462;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
}
