* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-recarga {
    max-width: 400px;
    margin-bottom: 200px;
    padding: 20px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #D51217;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 20vw;
}

.logo {
    width: 50px;
}

.bilhete-section, .pagamento-section {
    background-color: white;
    padding: 20px;
    margin-top: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bilhete-section h2, .pagamento-section h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

#bilhete-quantidade {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#total {
    font-weight: bold;
    font-size: 18px;
}

.btn-pagamento {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color: #D51217;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.cartao-form {
    display: none;
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cartao-form h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.cartao-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn-confirmar {
    width: 100%;
    padding: 10px;
    background-color: #D51217;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.qr-code {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.qr-code img {
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
}

.back-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f5f5f5; 
    color: #d32f2f; 
    border: 2px solid #d32f2f; 
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.back-button:hover {
    background-color: #d32f2f;
    color: white;
}
