body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

img{
    width: 30%;
}

.container-saldo {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.logo-container {
    margin-top: 20px;
}

.saldo-section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.saldo-section p {
    font-size: 18px;
    color: #333;
}

.saldo-section h1 {
    font-size: 36px;
    color: #000;
}

.pix-section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pix-container {
    text-align: left;
    padding: 10px;
}

.pix-container p {
    font-size: 18px;
    color: #333;
}

.pix-container span {
    font-size: 14px;
    color: #888;
}

.btn-cadastrar-cartao {
    background-color: #EE3338;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}

.btn-voltar {
    background-color: #716061;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
