* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F2F0F5;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    
}

header img {
    height: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav linha {
    width: 5vw;
    border-radius: 20px;
}

nav selecionado {
    width: 8vw;
    border-radius: 20px;
}